.cw-slideshow {
	position: relative;
	z-index: 1;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #0E5370;
	max-width: 1000px;
	margin: 0 auto;
	@include transition(background-color .5s, opacity .5s);
	// margin-bottom: 30px;
	@include opacity(0);

	.button {
		display: inline-block;
		font-size: 16px!important;
		padding: 7px 14px;
		margin: 10px 0 0;
		width: auto;
		background-color: #e93a2e;

		&:hover {
			background-color: darken(#e93a2e, 10%);
		}
	}

	&.loaded {
		@include opacity(1);
		@include transition(background-color .5s, opacity .5s);
	}

	.slide {
		text-align: left;
		overflow: hidden;

		.inner {
			position: relative;
			width: 100%;
			max-width: 1400px;
			margin: 0 auto;

			&.align-left {
				text-align: left;
			}

			&.align-center {
				text-align: center;
			}

			&.align-right {
				text-align: right;
			}			
		}

		img {
			max-width: 100%;
			height: auto;
		// 	@include transform(translateY(100%));
		// 	@include transition(transform .5s);
		}

		.slide-words {
			position: relative;
			display: none;
			top: 0;
			right: 0;
			width: 100%;
			height: auto;
			background-color: #0E5370;

			&.has-cap {
				display: block;
			}

			.slide-title,
			.slide-caption {
				@include text-shadow(1px, 1px, 0, rgba(0, 0, 0, .25));
			}

			.slide-title{
				display: block;
				width: 100%;
				position: absolute;
				@include opacity(0);
				top: 50%;
				@include transition(transform 1s ease-in-out .5s, opacity 1s ease-in-out .5s, color .5s);
				color: #f6ee22;
				font-weight: 900;
				font-size: 5.875vw;
				@extend .smoothfont;
				line-height: 1;
				padding: 0 60px;

				.subtitle {
					font-size: 4.7vw;
					color: #fff;
				}
			}

			.slide-caption {
				display: block;
				width: 100%;
				position: relative;
				@include opacity(0);
				top: 0;
				@include transform(translateX(0) translateY(0));
				@include transition(transform 1s ease-in-out .5s, opacity 1s ease-in-out .5s, color .5s);
				color: #fff;
				font-weight: 900;
				font-size: 4.8vw;
				line-height: 1;
				padding: 15px 15px;
				@extend .smoothfont;
			}
		}

		&.active-slide {
			// img {
			// 	@include transform(translateY(0));
			// 	@include transition(transform 1s ease-in-out .5s);
			// }

			.slide-words {
				.slide-title {
					@include opacity(1);
					@include transform(translateY(-50%) translateX(0));
					@include transition(transform 1s ease-in-out 0, opacity 1s ease-in-out 0);
				}

				.slide-caption {
					@include opacity(1);
					@include transition(transform 1s ease-in-out .25s, opacity 1s ease-in-out .25s);
				}
			}
		}
	}
}

@media all and (min-width: 640px) {
	.cw-slideshow {
		.slide {
			img {
				max-width: 58.33333%;
			}

			.slide-words {
				position: absolute;
				width: 41.6666%;
				height: 100%;


				.slide-caption {
					position: absolute;
					top: 50%;
					padding: 0 60px;
					font-size: 2.8vw;
					@include transform(translateX(0) translateY(-50%));
				}
			}
		}
	}
}

@media all and (min-width: 1024px) {
	.cw-slideshow {
		.slide {
			.slide-words {
				.slide-title{
					font-size: 60px;

					.subtitle {
						font-size: 48px;
					}
				}

				.slide-caption {
					font-size: 28px;
				}
			}
		}
	}
}