@import "normalize.scss";
@import "foundation.scss";
@import "compass/css3/transition";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "cw-custom.scss"; // This is where we can put custom mixins and classes
@import "gravityforms";
@import "wordpress";
@import "bxslider";
@import "cw-accordion";
@import "cw-slides";

// variables
$linkColor: #e93a2e;
$linkHover: lighten(#005072, 5%);
$fontColor: #000;

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	background:url(/wp-content/themes/cw/img/campfire-5-dark.jpg)no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


body {
	&.admin-bar {
		padding-top: 46px;
	}
}

* {
	outline: none!important;
	
	&:hover,
	&:focus {
		outline: none!important;
	}
}

pre {
	position: relative;
	padding: 24px;
	font-size: 10px;
	border: solid 1px #666;
	background-color: #fff;
	@include border-radius(20px);
	margin: 15px;

	.close-pre {
		display: block;
		position: absolute;
		top: 15px;
		right: 15px;
		width: 20px;
		height: 20px;
		border: solid 1px #666;
		@include border-radius(20px);
		cursor: pointer;

		&:before,
		&:after {
			position: absolute;
			display: block;
			content: '';
			background-color: #666;
			width: 13px;
			height: 2px;
			top: 50%;
			left: 50%;
			@include transform-origin(center center);
			@include transition(.5s);
		}

		&:before {
			@include transform(translateY(-50%) translateX(-50%) rotate(0deg));
		}

		&:after {
			@include transform(translateY(-50%) translateX(-50%) rotate(0deg));
		}

		&.open {
			&:before {
				@include transform(translateY(-50%) translateX(-50%) rotate(90deg));
			}
			&:after {
				@include transform(translateY(-50%) translateX(-50%) rotate(180deg));
			}
		}
	}
}

// reference clases
.vertcent {
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
}

.horzcent {
	position: absolute;
	left: 50%;
	@include transform(translateX(-50%));
}

.absocent {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translateX(-50%) translateY(-50%));
}

.smoothfont {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//typography
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Lato', sans-serif;
	&.page-title {
		color:white;
		padding:10px;
		//background: url(/wp-content/themes/cw/img/red-bg-pattern.jpg) ;
		background:#006286;
		border-top:2px solid #005072;
	}
}

h1 {
	font-size: 3.75em;
}

h2 {
	font-size: 3em;
}
h3 {
	font-size: 2.25em;
}
h4 {
	font-size: 1.875em;
}
h5 {
	font-size: 1.5em;
}
h6 {
	font-size: 1.125em;
}

p, li  {
	font-size: .875em;
	color: $fontColor;
	font-family: 'Lato', sans-serif;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	&.styleless {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

a {
	color: $linkColor;
	@include transition(.25s);

	&:hover {
		color: $linkHover;
		@include transition(.25s);
	}
}

input[type="text"],
input[type="email"],
input[type="submit"],
select,
textarea {
	border: 0;
	outline: none!important;
	padding: 10px!important;
	margin: 0!important;
}

input[type="submit"] {

}

input[type="text"],
input[type="email"],
textarea {

}

input[type="text"],
input[type="email"] {

}

textarea {

}
// header and nav
[role=banner] {

	// foundation nav structure
	.contain-to-grid {
		background:#F8B702;

		[role="navigation"] {
			min-height:60px;
			background:#F8B702;

			.title-area {
			}
			.top-bar-section {

				float:right;
				ul{
					//background:#3B5981;
				}
				li:not(.has-form) a:not(.button) {
				  padding: 0 10px;
				  line-height: 60px;
				  //line-height: 50px;
				  background:#F8B702;
				  font-size: 18px;
				  font-family: 'Vollkorn', serif;
				  color:#FFF;
				}

				.menu {
					.menu-item {
						&.menu-item-type-custom {
							& > a {
							}
						}
						&.current-menu-item,
						&.current-menu-parent,
						&.active {
							& > a {
								background:#f2f1e8;
							}
						}
						a {
							&:hover {
								color:#FFF;
								background:#005273;
							}
						}
						.sub-menu {
							.menu-item {
								&.menu-item-type-custom {
									a {
									}
								}
								a {
									&:hover {
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

//drop down icon
.top-bar-section .has-dropdown > a:after {

  // position: relative;
  // top: 50%;
 	// margin-left: auto;
  //   margin-right: auto;
}
.top-bar-section .has-dropdown > a:after {
  top: 50%;
}
//end of drop down icon

[role=banner] .contain-to-grid [role="navigation"] .top-bar-section .menu .menu-item.current-menu-parent > a, [role=banner] .contain-to-grid [role="navigation"] .top-bar-section .menu .menu-item.active > a {
  background: #006286;
}

.top-bar.expanded .title-area {
  background: #005273;
}

.top-bar .name {
  height: 60px;
  margin: 0;
  font-size: 16px;
}

.campfire_logo{
	max-width:210px;
	padding:5px;
}
.campfire_logo_footer{
	max-width:170px;
}



//general css stuff
.center{
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

.f_left{ float:left}
.f_right{ float:right}

// main content
[role="main"] {
	.home & {

	}
	background:#FFF;
}

//page formatting
.page_cont_padding{
	padding: 30px 20px 20px 10px;
}

.home_content_header{
	background-color:#e93a2e;
	h3{
		color:#FFF;
	}
	margin-bottom:20px;
}

.fa-instagram{
	padding:0px 5px 0px 5px;
	color:#FFF;
}
.fa-instagram:hover{
	color:$linkHover;
}
.fa-twitter-square{
	padding:0px 5px 0px 5px;
	color:#FFF;
}
.fa-twitter-square:hover{
	color:$linkHover;
}
.fa-facebook-square{
	padding:0px 5px 0px 5px;
	color:#FFF;
}
.fa-facebook-square:hover{
	color:$linkHover;
}
.hh_logo{
	max-width:70px;
	padding:0px 0px 5px 0px;
}
.icon_bin{
	float:right;
	padding-right:20px;
}
.news_article{
	padding: 10px 20px 20px 20px;
	background: #ededed;
	margin-bottom:20px;
}

//home slideshow
// .cw-slideshow {
//   position: relative;
//   z-index: 1;
//   background-color: #fff;
//   background-position: center top;
//   background-size: cover;
//   background-repeat: no-repeat;
//   -webkit-transition: background-color 0.5s, opacity 0.5s;
//   -moz-transition: background-color 0.5s, opacity 0.5s;
//   -o-transition: background-color 0.5s, opacity 0.5s;
//   transition: background-color 0.5s, opacity 0.5s;
//   margin-bottom: 0px;
//   opacity: 0;
//   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
//   filter: alpha(opacity=0);
// }

// .home_slider{
	// .columns{
		// padding:0px;
	// }
	//margin-bottom:100px;
// }
// .cw-slideshow .slide .slide-words {
//   position: absolute;
//   display: none;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 70%;
// }

// .home_slider .columns {
//   padding: 0px;
//   background-color:#0E5370;
// }

.home_slider_image{
	background-color:#0E5370;
}

// .home_sidebar{
	// position: relative;
	// background:url(/wp-content/themes/cw/img/Caption.png) no-repeat  ;
	// -webkit-background-size: cover;
	// -moz-background-size: cover;
	// -o-background-size: cover;
	// background-size: cover;
	// height:437px;
// }



//promo
.promo_div{
	padding:0px;
}
.promo{
	background-color:#ededed;
	//padding-top:20px;
	//padding-bottom:20px;
	padding:10px;
}

//buttons
.sidebar_button{
	.button{
		width: 100%;
		color:#FFF;
		h4{
			//background-color:#006286;
			background-color:$linkColor;
			color:#FFF;
			padding:20px;
			margin-top:20px;
		}
		
	}

}

.button{
	background:$linkColor;
	color:#FFF;
	width:100%;
}
.button:hover, .button:focus {
  //background-color: #FDB813;
  background-color:$linkHover;
  color:#FFF;
  h4{
		//color:#006286;
		color:#fff;
		background-color:$linkHover;
	}
}


// sidebar
[role="complementary"] {
	padding-top:20px;
	padding-bottom:20px;
	//background:red;
	padding-left:0px;
	padding-right:0px;
}


// footer
[role="contentinfo"] {
	//background-color:#075371;
	margin-top:20px;
	color:#FFF;
	p{
		a{
			color:#FFF;
		}
		a:hover{
			color:#fab800;
		}
	}
}

.footer_border_padding{
	margin-top:20px;
	margin-bottom:20px;
	p{
		color:#FFF;
	}
}

.footer_bg{
	background-color:#075371;
}

.phone_footer{
	color:#FFF;
}
.phone_footer:hover{
	color:#fab800;
}

// misc stuff, specific stuff, global stuff
.logo {
	a {
		display: inline-block;
	}
}

.cw {
	display: block;
	width: 100%;
	height: 30px;
	background: right center no-repeat url(/wp-content/themes/cw/img/cw-dark.png);
	text-indent: -9999px;
}

//g forms
input[type="text"], input[type="email"], input[type="submit"], select, textarea {
	border: 1px solid #CCCCCC;
	color:#000;
}

.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio], .gform_wrapper.gf_browser_chrome .gfield_checkbox li input {
	margin-top: 4px;
	margin-left: 1px;
}

.gf_captcha {
	display: none;
}

.cf:before,
.cf:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.cf:after {
	clear: both;
}


//media queries
@media all and (min-width: 1001px) {
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		font-size: 18px;
		padding: 0 10px;
	}
}

@media all and (max-width: 1001px) {
	
}

@media all and (max-width: 985px) {

	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		font-size: 15px;
		padding: 0 10px;
	}


}

@media all and (max-width: 895px) {
	
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		font-size: 13px;
		padding: 0 5px;
	}

}

@media all and (max-width: 790px) {
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		font-size: 12px;
		padding: 0 2px;
	}

	.campfire_logo{
		max-width:170px;
		padding:5px;
	}
	
}

@media all and (max-width: 700px) {
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		font-size: 11px;
		padding: 0 1px;
	}

	.campfire_logo{
		max-width:150px;
		padding:5px;
	}

	// .home_sidebar{
		// height:200px;
	// }
	
}

@media all and (max-width: 640px) {

	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		font-size: 18px;
		padding: 0 10px;
	}

	.campfire_logo{
		max-width:210px;
		padding:5px;
	}
	
	[role=banner] {

		.contain-to-grid {

			[role="navigation"] {	
				.top-bar-section {
					float:left;
					width: 100%;
				}
			}
		}
	}
	
}
.banner_bot_margin{
	margin-bottom:20px;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
 	*zoom: 1;
 }

@media all and (min-width: 783px) {
	body {
		&.admin-bar {
			padding-top: 32px;
		}
	}
}

 // print styles
 @media print {
 	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
 	a, a:visited { text-decoration: underline; }
 	a[href]:after { content: " (" attr(href) ")"; }
 	abbr[title]:after { content: " (" attr(title) ")"; }
 	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
 	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
 	thead { display: table-header-group; }
 	tr, img { page-break-inside: avoid; }
 	img { max-width: 100% !important; }
 	@page { margin: 0.5cm; }
 	p, h2, h3 { orphans: 3; widows: 3; }
 	h2, h3 { page-break-after: avoid; }
 }